/* Reset default settings */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato" , sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    padding: 30px;
    color: whitesmoke;
}


.header{
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(190, 159, 211, 0.4)), url(../images/japanese-garden.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.box-logo{
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo{
    height: 40px;
}

.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    line-height: 2.5;
    transform: translate(-10%, -50%);
    text-align: center;
    /* transform/translate moves center of text box */
}
.heading-primary{
    text-transform: uppercase;
    margin-bottom: 60px;
}

.heading-primary-main{
    display: block;
    font-size: 45px;
    letter-spacing: 25px;
    font-weight: 400;
   animation: transition-left 4s ease-out;
}

/* Here are the option for animation:  animation: name duration 
timing-function delay iteration-count direction fill-mode; */

.heading-primary-second{
    display: block;
    font-size: 22px;
    letter-spacing: 17px;
    font-weight: 700;
    margin-left: 10px;
    animation: transition-right 2s ease-in 2s backwards;
}

@keyframes transition-left{
    0%{
        opacity: 0;
        transform: translate(-100px);
        /* Object is far off page and out of sight */
    }

    50%{
        transform: translate(11px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
        /* at zero, the element is at its original place */
    } 
        /* Added to first part of header to add fade-in from left */
}

@keyframes transition-right{
    0%{
        opacity: 0;
        transform: translate(200px);
        /* Object is far off page and out of sight */
    }
     /* 50%{
        transform: translate(100px);
    } */
    100%{
        opacity: 1;
        transform: translate(0);
        /* at zero, the element is at its original place */
    } 
    /* Added to second part of header to add fade-in from right */
}

@keyframes transition-bottom{
    0%{
        opacity: 0;
        transform: translateY(30px);
        /* Object is far off page and out of sight */
    }
    100%{
        opacity: 1;
        transform: translate(0);
        /* at zero, the element is at its original place */
    } 
    /* Added to second part of header to add fade-in from right */
}


.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 100px;
    /* adding a high value for border-radius creates an oval shape */
    transition: all .2s;
    position: relative;
   
} 

.btn-white{
    background-color: whitesmoke;
    color: rgb(110, 109, 109);
    padding: 12px 36px;
    display: inline-block;
    /* Changing inline-text to inline-block */
}

.btn:hover{
    color: indigo;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* For box-shadow values are in this order: x, y, blur, color */
}   

.btn:active{
    /* transform: translateY(-1px); */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    /* By decreasing the value of 'Y' and blur as compared to hover state,
    you give the illusion that the button is moving closer to the page and away 
    from the user */
} 

.btn::after{
    content: "";
    display: inline-block;
    height: 100%;  
    /* This 100% of button's height */
    width:100%;
    border-radius: 100px;
     /* Same as button's border-radius */
    /* This is a pseudo element that duplicates the look of the orginal button
    It goes behind the button */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* This puts the this element behind the first button */
    transition: all .4s;
    /* Using the transition property creates a more suble phasing in effect */

} 

.btn-white::after{
    background-color: whitesmoke;
    /* Adding back color white to 'after' element */
}

.btn:hover::after{
    transform: scaleX(1.1) scaleY(1.2);
      /* Upon hover the after element should grow.  Using scale() to define growth value */
      opacity: 0;

} 

.btn-animated{
    animation: transition-bottom 3s ease-out 4s backwards;
}